---
import "../styles/global.css";
import ActualPage from "./index.svelte";

const pageTitle = "Yağız | Linux Enthusiast";
const currentYear = new Date().getFullYear();
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="Passionate about programming, GNU/Linux, and exploring computer science through hands-on projects and system-level learning."
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fontsource/monaspace-neon@5.0.8/index.min.css"
        />
        <title>{pageTitle}</title>
    </head>
    <body>
        <ActualPage {pageTitle} {currentYear} />
    </body>
</html>
